<div class="nav">
  <a href="/sort" class='btn btn-info'>Sort</a>
  <a href="/full" class="btn btn-warning">Full Dictionary</a>
  <a href="/clear" class="btn btn-danger">Empty Dictionary</a>
</div>
<div class='row'>
  <div class = 'col-md-6'>
    <h2>Here is your dictionary</h2>

    <% @dictionary.each do |entry| %>
      <h4><a href="/entry/<%= entry.id %>"><%= entry.word %></a></h4>
    <% end %>

  </div>
  <div class ='col-md-6'>
    <h4>Add an entry to your dictionary:</h4>

    <form action="/" method="post" id="main-form">
      <div class="form-group">
        <label for="word">Word</label>
        <input id="word" name="word" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="definition">Definition</label>
        <input id="definition" name="definition" class='form-control' type='text'>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input id="image" name="image" class='form-control' type='text'>
      </div>
      <button type="submit" class="btn btn-success">Go!</button>
    </form>
  <div>
</div>
