<div class="row">
  <div class="col-md-10">
    <h1><%= @entry.word %></h1>
    <ul>
      <% @entry.definition.each do |definition| %>
        <li><%= definition %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-2">
    <img class="entry-img" src="<%= @entry.image %>">
  </div>
</div>

<div class="entry-form">
  <h3>Add another Definition:</h3>
  <form action="/entry/<%= @entry.id %>" method="post">
    <div class="form-group">
      <label for="new-definition">Definition</label>
      <input id="new-definition" name="new-definition" class='form-control' type='text'>
    </div>
    <button type="submit" class="btn btn-success">Add!</button>
    <a href="/" class="btn btn-danger">Back To Home</a>
  </form>
</div>
